//Variables
/*
$color-0: #000a12;
$color-1: #002f5c;
$color-2: #065778;
$color-3: #005961;
$color-4: #2ba685;
*/

$color-0: #000a12;
$color-1: #00284d;
$color-2: #073f55;
$color-3: #00454b;
$color-4: #2ba685;

$bordes: 3%;

$section-colors: (
  seccion1: $color-1,
  seccion2: $color-2,
  seccion3: $color-3
);

$portadas: (
  "lenguaje": "../img/partituras.jpg",
  "guitarra": "../img/guitarra-cortada.jpg",
  "piano": "../img/piano1.jpg"
);


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    ul{
        list-style-type: none;
    }

    iframe{
        height: 315px;
        width: 100%;
    }
}