@import"./base";

//Components
@import"./components/header";
@import"./components/section";
@import"./components/carousel";
@import"./components/imgPortada";
@import"./components/titulos";
@import "./components/imgHover";

//Paginas
@import"./pages/index";
@import"./pages/composiciones";
@import"./pages/material-audiovisual";
@import "./pages/material-didactico";
@import "./pages/contacto"